{{/* layouts/_default/section.html */}}
{{ partial "header.html" . }}
<div style="color:red">Template: layouts/_default/section.html</div>

<h1>{{ .Title }}</h1>

<ul>
  {{ range .Data.Pages }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <time>{{ .Date.Format "Mon, Jan 2, 2006" }}</time>
  </li>
  {{ end }}
</ul>


{{ partial "start-dumper.html" . }}
  {{ partial "NodeVars.html" . }}
  {{ partial "TaxonomyVars.html" . }}
{{ partial "end-dumper.html" . }}

{{ partial "footer.html" . }}

